<head>
    <link href="css/temp.css" rel="stylesheet">
    <link href="css/usability.css" rel="stylesheet">
    <link href="css/documents.css" rel="stylesheet">
    <script src="js/script_head.js"></script>
    <title>Tutorial Content</title>
    </head>
    
    <ul>
    <div class="dropdown">
      <li><a class="inactive" href="/home">Home</a></li>
      <li><a class="active" href="/lectures">Lecture Notes</a></li>
      <li><a class="inactive" href="/tutorials">Tutorial Content</a></li>
      <li><a class="inactive" href="/assignments">Assignment Work</a></li>
      <li><a class="inactive" href="/other">Other</a></li>
    </div>
    </ul>
    <body>
        <div class="container">
            <h1>Document Download Page</h1>
        
            <div class="filter-section">
              <input type="text" id="search-input" placeholder="Search by name..." />
              <select id="sort-select">
                <option value="default">Sort by</option>
                <option value="name">Name (A-Z)</option>
                <option value="date">Date Uploaded</option>
              </select>

              <label for="password-filter-select">Password Filter:</label>
              <select id="password-filter-select">
                <option value="all">All</option>
                <option value="password">Password-Protected</option>
                <option value="no-password">No Password</option>
              </select>
            </div>
        
            <div id="document-list">
              <!-- Documents will be dynamically added here -->
            </div>
          </div>
          <script src="js/documents.js"></script>
          <script>
            // Initial fetch to display all documents
            fetchDocuments('', '', '', "tutorial");
          </script>
      </body>