<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Chatroom</title>
    <script src='js/jquery-3.6.4.min.js'></script>
    <script src="js/aes.js"></script>
    <script src='js/chat.js'></script>
    <link rel="stylesheet" href="css/chat.css" />
</head>
<body>
    <div id='chat'>
        <div class='window'>
            <div class='topic'>INFO2222 CHATROOM</div>
            <div class='message-container'></div>
        </div>
        <form action='#'>
            <label for='nick'>Message:</label>
            <input type='text' name='text' />
            <p class="requirements">This chatroom is subject to university guidelines and breaching them may result in being muted.</p>
            <input type='submit' value='Send'/>
        </form>
    </div>

    <div style='display: none'>
        <div id='tpl_message' class='message'>
            <span class='nick'></span>: <span class='text'></span>
        </div>
        <div id='tpl_timestamp' class='timestamp'></div>
    </div>
</body>
</html>
