Hello Admin!<br>
<strong>${reason}</strong>
</p>
<p>
<form action="/delete" method="post">
    Delete User: <input name="username" type="text" /><br><br>
    Mute User: <input name="mute" type="text" /><br><br>
    Delete File: <input name="filename" type="text" />
    <select name="documentCategory">
        <option value="" disabled selected>Select a Category</option>
        <option value="lecture">Lecture Slides</option>
        <option value="tutorial">Tutorial Content</option>
        <option value="assignment">Assignment Work</option>
        <option value="other">Other</option>
      </select>
      <br><br>
    Clear Chat (TYPE "CONFIRM"): <input name="clear" type="text" /><br><br>
    <input type="submit" value="Confirm">
</form>
</p>
</center>


