<head>
<link href="css/temp.css" rel="stylesheet">
<link href="css/usability.css" rel="stylesheet">
<script src="js/script_head.js"></script>

<title>INFO2222 HUB</title>
</head>

<p>
<ul>
  <li><a class="active" href="/home">Home</a></li>
    <div class="dropdown">
      <button class="dropbtn">Account</button>
      <div class="dropdown-content">
        <a href="/login">Login</a>
        <a href="/register">Register</a>
      </div>
    </div>
  <li><a href="/upload">Upload</a></li>
    <div class="dropdown">
      <button class="dropbtn">Documents</button>
      <div class="dropdown-content">
        <a href="/lectures">Lecture Notes</a>
        <a href="/tutorials">Tutorial Content</a>
        <a href="/assignments">Assignment Work</a>
        <a href="/other">Other</a>
      </div>
    </div>
</ul>
</p>