<head>
    <link href="css/temp.css" rel="stylesheet">
    <link href="css/usability.css" rel="stylesheet">
    <script src="js/script_head.js"></script>

    </head>
    
    <p>
    <ul>
    <div class="dropdown">
      <li><a class="inactive" href="/home">Home</a></li>
      <li><a class="inactive" href="/lectures">Lecture Notes</a></li>
      <li><a class="active" href="/tutorials">Tutorial Content</a></li>
      <li><a class="inactive" href="/assignments">Assignment Work</a></li>
      <li><a class="inactive" href="/other">Other</a></li>
    </div>
    </ul>
    </p>